<div class="row" style="text-align: center;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>RFX No : {{data2.rfxNumber}}</th>
        <th *ngFor="let round of data2.rounds;let i = index">Round {{i+1}}</th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>
          <table style="width: 100%;">
            <thead>
              <tr>
                <th>Items</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let in of counter(3) ;let i = index">
                <td>Item {{i+1}}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td *ngFor="let round of data2.rounds">
          <table style="width: 100%;">
            <thead>
              <tr>
                <th *ngFor="let vendor of round.vendors;let i = index">Vendor {{i+1}} Quote</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let in of counter(3) ;let i = index">                
                <td *ngFor="let vendor of round.vendors">{{ vendor.items.item[i] }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>